@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  text-decoration: none;
  transition: 0.3s ease-in;
}

:root {
  --primary-dark: #0d0d0f;
  --secondary-dark: #8f9196;
  --primary-red: #eb1c24;
}

body {
  background-color: var(--primary-dark);
  overflow-x: hidden;
}

header {
  height: 2cm;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--primary-dark);
  z-index: 4;
  border-bottom: 2px solid var(--secondary-dark);
  border-radius: 3px;
}

.logo-movie {
  margin-left: 20px;
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--primary-red);
  font-size: 20px;
}

.logo-movie span {
  font-family: "Pacifico", cursive;
}

.logo-movie a {
  display: flex;
  font-size: 36px;
  font-weight: 900;
  align-items: center;
  height: 100%;
  color: white;
  border: 0;
}

.logo-movie a span {
  color: var(--primary-red);
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  justify-content: space-between;
}

nav ul li {
  color: white;
  text-decoration: none;
  padding: 4px 6px 4px 6px;
  border-radius: 10px;
  font-weight: 700;
}

.nav ul li.active {
  background-color: var(--primary-red);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 200ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 2rem;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 200ms, stroke-dashoffset 200ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.loader {
  height: 12cm;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: relative;
  width: 56px;
  height: 56px;
}

.spinner > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 13.4px solid rgba(235, 28, 36, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  animation: spinner-g7vlvwmd 0.52s linear infinite;
  z-index: 0;
}

.spinner > div::before {
  content: "";
  height: 13.4px;
  width: 13.4px;
  border-radius: 50%;
  background: #eb1c24;
  position: absolute;
  top: 50%;
  animation: spinner-h1vps1md 1.04s infinite reverse steps(1);
  transform:
    translate(
      calc(2 * var(--translate-2)),
      calc(var(--translate) * 1%)
    );
  z-index: 1;
}

.spinner > div:nth-of-type(1) {
  --translate: -50;
  --translate-2: calc(56px / 8);
}

.spinner > div:nth-of-type(1)::before {
  right: 0;
}

.spinner > div:nth-of-type(2) {
  --translate: 50;
  --translate-2: calc(-56px / 8);

  animation-delay: 0.52s;
  animation-direction: reverse;
  transform: translate(21.3px, 0);
}

.spinner > div:nth-of-type(2)::before {
  left: 0;
  transform: translate(calc(-56px / 4), -50%);
  animation-direction: normal;
}

@keyframes spinner-h1vps1md {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes spinner-g7vlvwmd {
  from {
    transform:
      translate(calc(var(--translate) * 1%), 0)
      translate(calc(var(--translate-2)), 0) rotate(0deg);
  }

  to {
    transform:
      translate(calc(var(--translate) * 1%), 0)
      translate(calc(var(--translate-2)), 0) rotate(360deg);
  }
}

footer {
  width: 100%;
  background-color: var(--primary-red);
  bottom: 0;
  padding: 10px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px;
  justify-content: center;
  padding-bottom: 3rem;
}

.movie-card {
  height: 10cm;
  width: 8.5cm;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.movie-card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
}

.card-content {
  z-index: 1;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.74),
      rgba(0, 0, 0, 0.897)
    );
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px 10px;
}

.title {
  width: 100%;
  font-weight: 900;
  font-size: 22px;
  color: white;
  text-decoration: none;
}

.comments {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.likes {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-right: 5px;
}

.like-count {
  background-color: white;
  height: 0.8cm;
  width: 0.8cm;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-red);
  font-weight: 500;
  font-size: 18px;
}

.like-btn {
  color: var(--primary-red);
  font-size: 30px;
}

.comment-btn {
  height: 1cm;
  width: 3cm;
  border-radius: 7px;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: white;
  background-color: var(--primary-red);
  font-weight: 600;
  font-size: 16px;
}

.modalBox {
  height: 100%;
  width: 100%;
  margin-top: 2cm;
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  z-index: 10;
  background-color: var(--primary-dark);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10rem;
}

.modalContentWrapper {
  width: 100%;
  background-color: transparent;
  padding: 3px;
}

.modal-close-btn {
  outline: none;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 10px 4px 10px;
  color: white;
  background-color: var(--primary-red);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1cm;
}

.image-box {
  width: 100%;
  height: 11cm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bolder;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.img-overlay {
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(
      rgba(13, 13, 15, 0.205),
      rgba(13, 13, 15, 0.253),
      rgba(13, 13, 15, 0.911),
      rgb(13, 13, 15)
    );
  position: absolute;
  top: 0;
  left: 0;
}

.image-box img {
  width: 100%;
  height: 100%;
}

.modal-content {
  width: 100%;
  transform: translateY(-5cm);
  padding: 10px;
}

.pop-title {
  font-size: 26px;
  font-weight: 800;
  color: white;
  margin-top: 4rem;
}

.genre {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  left: 0;
  margin-left: -1cm;
  gap: 10px;
  margin-top: 0.6cm;
}

.genre li {
  padding: 2px 10px 2px 10px;
  background-color: rgba(255, 255, 255, 0.274);
  border: 1px solid white;
  border-radius: 6px;
  font-weight: 600;
  color: white;
}

.info-link {
  width: 3.5cm;
  height: 1.6cm;
  background-color: var(--primary-red);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-top: 1cm;
  color: white;
  font-size: 18px;
}

#watch {
  color: var(--primary-red);
  font-size: 18px;
  height: 1cm;
  width: 1cm;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--primary-dark);
  height: 4cm;
  width: 100%;
  margin-top: 1cm;
  gap: 10px;
}

.info-card {
  width: 4cm;
  height: 1.8cm;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.info-card i {
  font-size: 22px;
  grid-column: span 1;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

#likes {
  color: blue;
}

#rating {
  color: orange;
}

#language {
  color: green;
}

#types {
  color: rgb(124, 0, 128);
}

.info-value {
  grid-column: span 3;
  padding-right: 10px;
  align-items: end;
  display: flex;
  font-size: 25px;
  font-weight: 800;
  color: var(--primary-red);
}

.info-lable {
  grid-column: span 4;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--primary-red);
  font-weight: 500;
  font-size: 18px;
}

.description-1 {
  color: var(--secondary-dark);
  font-size: 18px;
  font-weight: 700;
  margin-top: 1cm;
}

.description-p {
  color: var(--secondary-dark);
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.h3-comment {
  margin-top: -4cm;
  text-align: center;
  font-size: 25px;
  color: white;
}

.commentsBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 20px;
  gap: 20px;
}

.comment-item {
  width: 100%;
}

.comment-list {
  height: 419px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 2px;
  gap: 20px;
}

.comment-user {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-dark);
}

.user-details {
  height: 0.8cm;
  display: flex;
  gap: 10px;
}

.user-details .img {
  display: flex;
  justify-content: end;
}

.user-details .img img {
  height: 0.8cm;
  width: 0.8cm;
  border-radius: 30%;
}

.user-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-red);
}

.user-comment {
  color: var(--secondary-dark);
  margin-top: 10px;
  font-weight: 300;
}

.date {
  text-align: right;
  color: var(--primary-red);
  font-weight: 400;
  font-size: 12px;
  margin-right: 15px;
}

.comment-list::-webkit-scrollbar {
  width: 2px;
  background-color: white;
}

.comment-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-red);
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

form h3 {
  font-size: 26px;
  font-weight: bold;
  color: var(--primary-red);
}

.form-message {
  font-size: 16px;
  font-weight: 700;
  display: none;
  width: 90%;
  padding: 5px;
  border-radius: 3px;
}

.form-message.success {
  display: block;
  background-color: rgba(11, 116, 11, 0.384);
  border: 2px solid rgb(2, 95, 33);
  color: white;
  text-align: center;
}

.form-message.error {
  display: block;
  background-color: rgba(116, 11, 11, 0.438);
  border: 2px solid rgb(95, 2, 2);
  color: rgb(248, 192, 192);
  text-align: center;
}

#userName {
  width: 100%;
  height: 1cm;
  padding: 3px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  border: 3px solid white;
  color: var(--secondary-dark);
  background-color: transparent;
}

#comment {
  width: 100%;
  padding: 7px;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  border: 3px solid white;
  color: var(--secondary-dark);
  background-color: transparent;
}

#submit-comment {
  width: 100%;
  height: 1cm;
  border-radius: 9px;
  cursor: pointer;
  color: white;
  background-color: var(--primary-red);
  outline: 0;
  border: 0;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
}

.pagination {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.pagnate-box  {
 white-space: nowrap;
 width: fit-content;
 
}

.pagnate-box div {
  height: 1cm;
  width: 1cm;
  border-radius: 100%;
  border:2px solid var(--primary-red);
  display: inline-flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.pagnate-box div.active{
 background-color: var(--primary-red);
}

@media screen and (max-width: 769px) {
  nav ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10cm;
    margin-top: 2cm;
    width: 100%;
    background-color: var(--primary-dark);
    position: absolute;
    gap: 20px;
    transition: 200ms;
  }

  nav ul.active {
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .commentsBox {
    grid-template-columns: repeat(2, 1fr);
  }
  .pagination {
    width:15cm;
   
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    right: 0;
    position: relative;
    margin-right: 15px;
    height: 100%;
    margin-top: 0;
  }

  .ham {
    display: none;
  }
}

@media screen and (min-width: 1119px) {
  .modalBox {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
