
  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

:root{
  --primary-dark: #0D0D0F;
  --secondary-dark: #8F9196;
  --primary-red: #EB1C24;
}

body{
  background-color: var(--primary-dark);
}

header {
  height: 2cm;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--primary-dark);
  z-index: 4;
  border-bottom: 2px solid var(--secondary-dark);
  border-radius: 3px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  right: 0;
  position: absolute;
  margin-right: 15px;
  height: 100%;
}

nav ul li {
  color: white;
  text-decoration: none;
  padding: 4px 6px 4px 6px;
  border-radius: 10px;
  font-weight: 700;
}

.nav ul li.active {
  background-color: var(--primary-red);
}

.loader {
  height: 12cm;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: relative;
  width: 56px;
  height: 56px;
}

.spinner > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 13.4px solid rgba(235,28,36,0.1);
  position: absolute;
  top: 0;
  left: 0;
  animation: spinner-g7vlvwmd 0.52s linear infinite;
  z-index: 0;
}

.spinner > div::before {
  content: '';
  height: 13.4px;
  width: 13.4px;
  border-radius: 50%;
  background: #eb1c24;
  position: absolute;
  top: 50%;
  animation: spinner-h1vps1md 1.04s infinite reverse steps(1);
  transform: translate(calc(2 * var(--translate-2)), calc(var(--translate) * 1%));
  z-index: 1;
}

.spinner > div:nth-of-type(1) {
  --translate: -50;
  --translate-2: calc(56px / 8);
}

.spinner > div:nth-of-type(1)::before {
  right: 0;
}

.spinner > div:nth-of-type(2) {
  --translate: 50;
  --translate-2: calc(-56px / 8);
  animation-delay: 0.52s;
  animation-direction: reverse;
  transform: translate(21.3px, 0);
}

.spinner > div:nth-of-type(2)::before {
  left: 0;
  transform: translate(calc(-56px / 4), -50%);
  animation-direction: normal;
}

@keyframes spinner-h1vps1md {
  0% {
     opacity: 0;
  }

  50% {
     opacity: 1;
  }
}

@keyframes spinner-g7vlvwmd {
  from {
     transform: translate(calc(var(--translate) * 1%), 0) translate(calc(var(--translate-2)), 0) rotate(0deg);
  }

  to {
     transform: translate(calc(var(--translate) * 1%), 0) translate(calc(var(--translate-2)), 0) rotate(360deg);
  }
}

footer {
  width: 100%;
  background-color: rgb(104, 102, 102);
  bottom: 0;
  padding: 10px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px;
  justify-content: center;
  padding-bottom: 3rem;
  columns: red;
}

.movie-card {
  height: 7cm;
  width: 6cm;
  background-color: rgb(202, 202, 202);
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in;
}

.movie-card img {
  height: 5cm;
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
}

.title {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.title p {
  grid-column: span 4;
}

.like-btn {
  color: blue;
  cursor: pointer;
}

.comment-btn {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}

.comment-btn span {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

.modalBox {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  display: grid;
  justify-content: center;
  position: fixed;
  padding: 25px 10px 25px 10px;
  overflow-y: scroll;
  z-index: 99;
}

.modalContentWrapper {
  width: 100%;
  border: 1px solid red;
  position: relative;
  background-color: white;
  padding: 3px;
}

.modal-close-btn {
  height: 1cm;
  width: 1cm;
  border-radius: 100%;
  position: absolute;
  top: -1.2rem;
  right: -2px;
}

.image-box {
  width: 100%;
  border: 2px solid red;
  height: 10cm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bolder;
}

.image-box img {
  width: 100%;
  height: 100%;
}

.pop-title {
  text-align: center;
  font-size: 20px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4px;
  gap: 4px;
}

.info p {
  text-align: center;
}

.h3-comment {
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

form h3 {
  font-size: 26px;
  font-weight: bold;
}

.form-message {
  font-size: 16px;
  font-weight: 700;
  display: none;
  width: 90%;
  padding: 5px;
  border-radius: 3px;
}

.form-message.success {
  display: block;
  background-color: rgba(11, 116, 11, 0.733);
  border: 2px solid rgb(2, 95, 33);
  color: white;
  text-align: center;
}

.form-message.error {
  display: block;
  background-color: rgba(116, 11, 11, 0.651);
  border: 2px solid rgb(95, 2, 2);
  color: white;
  text-align: center;
}

#userName {
  width: 100%;
  height: 1cm;
  padding: 3px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid black;
}

#comment {
  width: 100%;
  padding: 7px;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid black;
}

#submit-comment {
  width: 4cm;
  height: 1cm;
  border-radius: 9px;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .modalContentWrapper {
    width: 55rem;
  }

  #userName,
  #comment {
    width: 30rem;
  }
}
